[APP]DEBUG = trueTRACE = true[DATABASE]DEFAULT[DB_TYPE] = mysqlDEFAULT[DB_HOST] = localhostDEFAULT[DB_NAME] = myapp01dbDEFAULT[DB_USER]= rootDEFAULT[DB_PWD] = DEFAULT[DB_PORT] = 3306DEFAULT[DB_CHARSET] = utf8DEFAULT[TABLE_PRE] = wp_